@use '../../Styles/vars';

.about {
    height: 80vh;
    width: 100%;
    background-color: vars.$alt-color;
    display: flex;

    &-left{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 1rem;

    }
    &-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        text-align: right;
    }
    &-title{
        font-size: 2rem;
        font-weight: bold;
        animation: titleAnimation 0.8s ease-out;
        color: vars.$primary-color;
    }
    &-text{
        width: 80%;
        font-size: 1.5rem;
        line-height: 2.3rem;
        animation: descriptionAnimation 0.8s ease-out;
        color: vars.$primary-color;
    }
    &-js{
        font-weight: bold;
    }
    &-oclock{
        font-weight: bold;
        color: vars.$alternativ-color;
    }
    &-base{
        font-style: italic;
    }
    &-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;

      
    }
    &-anchor{
        width:40%;
        min-width: 250px;
        max-width: 350px;
        animation: anchorAnimation 0.8s ease-out;
    }
    
    @keyframes descriptionAnimation {
        from {
            opacity: 0;
            transform: translateY(200px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes titleAnimation {
        from {
            opacity: 0;
            transform: translateY(-200px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes anchorAnimation {
        from {
            opacity: 0;
            transform: translateX(200px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

@media screen and (max-width:767.98px) {

    .about{
        
        height: 80vh;

        &-left{
            width: 100%;
            margin: 0;
        }
        &-description{
            width: 100%;
            text-align: center;
            align-items: center;
        }
        &-text{
            font-size: 1.3rem;
            line-height: 2rem;
        }
        &-right{
            display: none;
        }
        &-anchor{
            display: none;
        }
    }

    @keyframes titleAnimation {
        from {
            opacity: 0;
            transform: translateX(400px);
        }
        to {
             opacity: 1;
            transform: translateX(0px);
        }
    }
    @keyframes descriptionAnimation {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}
@media screen and (max-width: 321px) {
    
    .about-title{
        font-size: 1.4rem;
    }
    .about-text{
        line-height: 1.5rem;
        font-size: 1.1rem;
    }
}