@use '../../Styles/vars';

.works.light::-webkit-scrollbar-track
{
	background-color: vars.$alt-color;
}

.works.light::-webkit-scrollbar
{
	width: 4px;
	background-color: vars.$alt-color;
}

.works.light::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: vars.$primary-color;
}
.works.dark::-webkit-scrollbar-track
{
	background-color: vars.$back-color;
}

.works.dark::-webkit-scrollbar
{
	width: 4px;
	background-color: vars.$top-color;
}

.works.dark::-webkit-scrollbar-thumb
{   
	border-radius: 10px;
	background-color: vars.$alt-color;
}

.works.dark{
    background-color: vars.$back-color;
    color: vars.$alt-color;
    transition: all 0.5s ease-out;
}

.works.light{
    background-color: vars.$alt-color;
    transition: all 0.8s ease-out;
    color: vars.$primary-color;
}
.works-card-reveal.light{
    color: vars.$primary-color;
    background-color: vars.$alt-color;
}

.works-card-reveal.dark{
    color: vars.$alt-color;
    background-color: vars.$back-color;
}


.works{
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;

    &-card{
        
        width: 300px;
        height: 450px;
        flex-shrink: 0;
        border-radius: 5px;
        margin: 2rem;
        box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
        

        &-part-img{
            width: 100%;
            height: 60%;
            position: relative;
            border-bottom: 1px solid rgba(0,0,0,0.1);
           
        }

        &-img{
            width: 300px;
            height: 100%;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        &-filter{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: background 0.4s ease;
        }

        &-filter:hover{
            background: rgba(118,176,194,0.5);
            cursor: pointer;
        }

        &-reveal{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: 5px;
            width: 100px;
            height: 40px;
            top: 50%;
            left: 50%;
            opacity: 0;
            transition: opacity 0.2s ease;
            transform: translate(-50%, -50%);
            

        }

        &-link{
            font-size: 1.5rem;
            font-weight: bold;
            
        }
        
        &-filter:hover .works-card-reveal{
            opacity: 1;
        }

        &-description{
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
           

            &-title{
                margin: 1rem;
                font-size: 1.5rem;
            }

            &-text{
                margin: 1rem;
                text-align: center;
                line-height: 1.2rem;
            }
        }
    }


    .works-card:nth-child(1){
        animation: card1 0.8s ease-out;
    }

    @keyframes card1 {
        from {
            opacity: 0;
            transform: translatex(-200px);
        }
        to {
            opacity: 1;
            transform: translatex(0px);
        }
    }

    .works-card:nth-child(2){
        animation: card2 0.8s ease-out;
    }

    @keyframes card2 {
        from {
            opacity: 0;
            transform: translateY(100px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .works-card:nth-child(3){
        animation: card3 0.8s ease-out;
    }
    @keyframes card3 {
        from {
            opacity: 0;
            transform: translateY(-200px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .works-card:nth-child(4){
        animation: card4 0.8s ease-out;
    }
    @keyframes card4 {
        from {
            opacity: 0;
            transform: translateY(200px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .works-card:nth-child(5){
        animation: card5 0.8s ease-out;
    }
    @keyframes card5 {
        from {
            opacity: 0;
            transform: translatex(100px);
        }
        to {
            opacity: 1;
            transform: translatex(0px);
        }
    }
}

@media screen and (max-width:767.98px) {
    .works{
        height: 80vh;
    }
}