@use '../../Styles/vars';

.works.light::-webkit-scrollbar-track
{
	background-color: vars.$alt-color;
}

.works.light::-webkit-scrollbar
{
	width: 4px;
	background-color: vars.$alt-color;
}

.works.light::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: vars.$primary-color;
}
.works.dark::-webkit-scrollbar-track
{
	background-color: vars.$back-color;
}

.works.dark::-webkit-scrollbar
{
	width: 4px;
	background-color: vars.$top-color;
}

.works.dark::-webkit-scrollbar-thumb
{   
	border-radius: 10px;
	background-color: vars.$alt-color;
}

.works.dark{
    background-color: vars.$back-color;
    color: vars.$alt-color;
}

.works.light{
    background-color: vars.$alt-color;
    transition: all 0.8s ease-out;
    color: vars.$primary-color;
}

.works{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 83vh;
    overflow-y: auto;

    &-card{
        
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        animation: cardAnimation 0.8s ease-out;
        &-left{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        &-title{
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 1rem;
            margin-top: 1rem;

        }
        &-description{
            font-size: 1.2rem;
            line-height: 2rem;
            text-align: center;
            padding: 1rem;
        }
        &-img{
            width: 300px;
        }
        &-medias{
           display: flex;
           
            & i {
                font-size: 1.5rem;
                margin: 1rem;
                padding: 1rem;
                cursor: pointer;
            }
            
        }
    }

    @keyframes cardAnimation {
        from {
            opacity: 0;
            transform: translateY(-200px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@media screen and (max-width:767.98px) {
    .works{
        height: 80vh;
    }
    .works-card-title{
        font-size: 1.7rem;
        padding: 0.5rem;
    }
    .works-card-description{
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;
    }
    .works-card-img{
        width: 230px;
    }
    .works-card-medias i {
        margin: 0.5rem;
    }
    
}
    
@media screen and (max-width: 321px) {
    
    .works-card-title{
        font-size: 1.4rem;
    }

    .works-card-description{
        font-size: 1rem;
        line-height: 1.1rem;
    }
    .works-card-img{
        width: 150px;
        border-radius: 0;
    }
    .works-card-medias i{
        margin: 0.5rem;
        padding: 0.5rem;
    }
   
}


    
   