@use '../../Styles/vars';

.btn-toggle{
    position: absolute;
    top: calc(5vh - 16px);
    left: 7rem;
    width: 2rem;
    height: 2rem;
    color: vars.$alt-color;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-toggle i {
    font-size: 1.5rem;
}

.btn-toggle.light{
    background-color: transparent;
    color: vars.$primary-color;
}
.btn-toggle.dark{
    transition: all .4s ease-out;
    background-color: transparent;
    color: vars.$alt-color;
}

@media screen and (max-width: 767.98px) {
    .btn-toggle{
        position: absolute;
        height: 2.5rem;
        width: 2.5rem;
        top : calc(5vh - 20px);
        left: calc(50vw - 20px);
        border: none;
    }
    // .btn-toggle i {
    //     font-size: 1.rem;
    // }
    .btn-toggle.dark{
        background-color: vars.$top-color;
    }
}
// @media screen and (max-width: 815.98px)  and (orientation : landscape){
//     .btn-toggle{
//       display: none;
//     }
// }
