@use 'reset';
@use '_vars';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700');

body{
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: vars.$alt-color;

}
.container {
    height: calc(100vh - 155px);
   
  }
  