@use '_reset';
@use '_vars';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700');

body{
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.App{
    height: 100vh;
    position: relative;
    transition: all .9s ease-in-out;
    background-color: #f3f3f3;
}

.dark{
    transition: all .6s ease-in-out;
    background-color: #000;
    color:  vars.$alternativ-color !important;
}