
.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-form{
      margin-top: 10px;
      text-transform: uppercase;
      animation: title-formAnimation 1s ease-out;
  }
  @keyframes title-formAnimation {
      from {
          opacity: 0;
          transform: translateX(200px);
      }
      to {
          opacity: 1;
          transform: translateX(0px);
      }
    }
  .contact-form{
      text-align: center;
      width: 50%;
      margin: 30px auto;
      padding: 20px;
      animation: formAnimation 1s ease-out;
      
  }
  @keyframes formAnimation {
      from {
          opacity: 0;
          transform: translateX(-200px);
      }
      to {
          opacity: 1;
          transform: translateX(0px);
      }
    }
  .input{
      border: 1px solid #1a1d38;
      margin-top: 30px;
      padding: 10px;
      width: 220px;
      height: 45px;
      background-color: #f3f3f3;
  }
  .button{
     margin: 30px 0;
     padding: 15px;
     border-radius: 25px;
     background-color: #f3f3f3;
     border: none;
  }
  .button:hover{
      background-color: #1a1d38;
      color: #f3f3f3
  }
  .input-textarea{
      margin-top: 30px;
      max-width: 220px;
      min-width: 220px;
      width: 220px;
      height: 130px;
      min-height: 130px;
      max-height: 130px;
      padding: 10px;
      border: 1px solid #1a1d38;
  }
  .input::placeholder{
      color: #1a1d38;
  }
  @media screen and (max-width:767.98px) {
      .contact-form{
          text-align: center;
          width: 80%;
          margin: 10px auto;
          border: 2px solid #1a1d38;
          padding: 20px;
      }
      .input-textarea{
          margin-top: 15px;
          width: 220px;
          min-width: 220px;
          max-width: 220px;
          height: 130px;
          min-height: 130px;
          max-height: 130px;
          border: 1px solid #1a1d38;
      }
      .input{
          margin-top: 10px;
      }
      .button{
          margin: 10px 0;
      }
  }
  @media screen and (max-width: 321px) {
      
  .title-form{
      margin: 10px 0;
  }
  .contact-form{
      margin: 0;
      padding: 10px;
  }
  .button{
      margin: 0;
  }
  .input{
      border: 1px solid #1a1d38;
      margin-top: 15px;
      padding: 10px;
      width: 220px;
      height: 40px;
  }
  .input-textarea{
      margin-top: 15px;
      min-height: 80px;
      max-height: 100px;
  }
  }
  /* .title-form{
      font-size: 3rem;
      color: #1a1d38;
      text-align: center;
  }
  .contact-form  {
      
      font-size: 2rem;
      margin: auto;
      
  }
  .contact-form input{
      margin: 20px 5px;
      border: none;
      text-align: center;
      cursor: pointer;
      
  }
  #not-mail {
      display: none;
  }
  .ligne{
      height: 1px;
      width: 100%;
      background-color: #1a1d38;
  }
  .form-content{
      display :flex;
      flex-direction: column;
      width: 350px;
  }  */
   /* .button{
      cursor: pointer;
      color: #1a1d38;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
      
  }
  .button:hover{
      letter-spacing: 2px;
      transition: 0.2s;
  } */
  