@use '../../Styles/vars';

.footer.dark{
  transition: all 0.5s ease-out;
  background-color: vars.$top-color;
  color: vars.$alt-color;
}

.footer.light{
  transition: all 0.8s ease-out;
  background-color: vars.$alt-color;
  color: vars.$primary-color;
}
.footer{
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  & i{
    cursor: pointer;
    font-size: 2rem;
    margin: 0 1.5rem;
  }

  &-medias{
    margin: 0.5rem;
  }

  &-copyright{
    font-size: 0.6rem;
    margin: 0.5rem;
  }
  
}
@media screen and (max-width:767.98px) {
  .footer{
    justify-content: center;
    height: 10vh;

    &-copyright{
      margin: 0;
      font-size: 0.5rem;
    }
  }
  .footer i {
    margin: 0 1.5rem;
  }
}